<div class="text-center mt-3">
  <h1>{{ title }}</h1>
</div>
<hr>
<div class="m-3">
  <h3>Librerias usadas</h3>
  <div class="list-group">
      <a target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" class="list-group-item list-group-item-action">
        <i class="fab fa-bootstrap"></i> Bootstrap
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/CodeSeven/toastr" class="list-group-item list-group-item-action">
        <i class="fas fa-envelope-open-text"></i> Toastr
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://fontawesome.com/" class="list-group-item list-group-item-action">
        <i class="fab fa-font-awesome-flag"></i> FontAwesome
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://v7.material.angular.io/" class="list-group-item list-group-item-action">
        <i class="fab fa-angular"></i> Angular Material
      </a>
    </div>
</div>
<hr>
<div class="m-3">
    <h3>Otros</h3>
    <div class="list-group">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/ysidro91/angular-countries-info" class="list-group-item list-group-item-action">
          <i class="fab fa-github"></i> Repositorio
        </a>
      </div>
  </div>